body {
    width: 100vw;
    height: 100vh;

    background-color: rgb(53, 53, 65);

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 256px;
    height: 256px;

    background-color: white;
    box-shadow: 0 12px 48px -12px black,
                0 0 12px #0008,
                inset 0 8px 32px -8px black,
                inset 0 0 8px #0008;

    animation: logo-animation-out 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    position: relative;
    top: 6px;
    left: -3px;
}

.point {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 49%;
    background-color: black;
    border: 2px solid black;
}

.riska, .seconds, .hours {
    position: absolute;
    background-color: black;
    border-radius: 2px;
}

.riska {
    width: 4px;
    height: 16px;
}

.seconds {
    width: 4px;
    height: 80px;

    animation: clock-minutes-arrow 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hours {
    width: 4px;
    height: 40px;

    animation: clock-hours-arrow 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo div:nth-child(3n + 1) {
    height: 24px;
}

.clock div:nth-child(1) {
    transform: rotate(0) translate(0, -120px);
}
.clock div:nth-child(2) {
    transform: rotate(30deg) translate(0, -110px);
}
.clock div:nth-child(3) {
    transform: rotate(60deg) translate(0, -110px);
}
.clock div:nth-child(4) {
    transform: rotate(90deg) translate(0, -110px);
}
.clock div:nth-child(5) {
    transform: rotate(120deg) translate(0, -110px);
}
.clock div:nth-child(6) {
    transform: rotate(150deg) translate(0, -110px);
}
.clock div:nth-child(7) {
    transform: rotate(180deg) translate(0, -110px);
}
.clock div:nth-child(8) {
    transform: rotate(210deg) translate(0, -110px);
}
.clock div:nth-child(9) {
    transform: rotate(240deg) translate(0, -110px);
}
.clock div:nth-child(10) {
    transform: rotate(270deg) translate(0, -110px);
}
.clock div:nth-child(11) {
    transform: rotate(300deg) translate(0, -110px);
}
.clock div:nth-child(12) {
    transform: rotate(330deg) translate(0, -110px);
}

@keyframes logo-animation-out {
    0% {
        border: 16px solid brown;
        border-radius: 5%;
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        border: 16px solid rgb(221, 208, 28);
        border-radius: 15% 50% 0% 50%;
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        border: 16px solid brown;
        border-radius: 5%;
    }
}

@keyframes clock-hours-arrow {
    0% {
        transform: rotate(0deg) translate(0, -20px);
    }
    50% {
        transform: rotate(180deg) translate(0, -20px);
    }
    100% {
        transform: rotate(360deg) translate(0, -20px);
    }
}

@keyframes clock-minutes-arrow {
    0% {
        transform: rotate(0) translate(0, -40px);
    }
    50% {
        transform: rotate(180deg) translate(0, -40px);
    }
    100% {
        transform: rotate(360deg) translate(0, -40px);
    }
}