.main {
    -fx-background-color: #4f5c70;
}

.button {
    -fx-background-radius: 50;
}

.main SplitPane, .main .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.tab-pane .tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #fcba38;
}

.tab .tab-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-text-fill: #fcba38;
}

.tab:selected .tab-label {
    -fx-text-fill: #3c80ee;
}