:root {
	--textColor: black;
	--bkColor: #ffcc33;
	--bkColorActive: #e0b32c;
	--textShadowColor: #ff9844;
	--shadowColor: #ffcc33;
	--shadowColorHover: #bd2424;
	--shadowColorActive: #ff9844;
	--headerShadowColor: #ff984455;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
    
    background-color: #2e2e2e;
	display: flex;
	align-items: center;
	justify-content: center
}

main {
	display: block;
}

h1 {
    color: var(--bkColor);
    text-shadow: var(--textShadowColor) 0 4px 48px;
	text-decoration: underline;
}

.link-btn {	
	outline: none;
    display: block;

    box-shadow: 0 4px 12px 4px var(--shadowColor);
    text-shadow: var(--textShadowColor) 0 0px 32px ;

    border-radius: 4px;
	border: none;
    background-color: var(--bkColor);
    color: var(--textColor);

    padding: 14px;

    min-width: 100px;
    max-width: 200px;


    text-align: center;

    margin: 24px 12px 24px 0;
}

.link-btn:hover {
    box-shadow: 0 4px 24px 6px var(--shadowColorHover);
}

.link-btn:active {
    box-shadow: 0 2px 8px 2px var(--shadowColorActive);
    background-color: var(--bkColorActive);
}

.link-btn:link, .link-btn:visited, .link-btn:active, .link-btn:hover {
    color: var(--textColor);
    text-decoration: none;
}

h6 {
	padding-top: 24px;
	color: white;
}

.transition {
  transition: 0.35s;
}

.task {
	position: relative;
	max-width: 800px;
}

.task-head {
	position: absolute;
	
	top: -20px;
	
	padding: 5px 0 5px 20px;
	width: 100%;
	
	background-color: var(--bkColor);
	font-size: 1.5em;
	color: var(--textColor);
	
	box-shadow: 0 4px 16px 2px var(--headerShadowColor);
}

.task-body {
	margin-top: 30px;
	padding: 30px 10px 20px 10px;
	
	border: 2px solid var(--bkColor);
	border-width: 0 0 0 2px;
	color: var(--bkColor);
	
	font-size: 18px;
}

.input {
	border: 2px solid var(--bkColor);
	border-width: 0 0 2px 0;
	color: var(--bkColor);
	background-color: transparent;
	
	padding: 4px;
	font-size: 16px;
}

.input:focus {
	outline: none;
	box-shadow: 0px 5px 6px -4px var(--shadowColor);
}

.radio {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	  margin: 10px 0 0 7px;
}

.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  
  font-size: 24px;
}

.radio + label:before, .radio + label:after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.radio + label:before {
	top: 6px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 2px solid var(--bkColor);
	background: transparent;
}

.radio + label:after {
	top: 13px;
	left: 7px;
	width: 12px;
	height: 12px;
	background: var(--bkColor);
	opacity: 0;
}

label {
	margin-right: 16px;
}

.radio:checked + label:after {
	opacity: 1;
}

.content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.content iframe {
	width: 45vw;
	height: 90vh;
	border: none;
}

.data th {
	background-color: var(--bkColor);
	padding: 10px 20px 10px 20px;
}

.data td {
	color: white;
	text-align: center;
}

.data, .controller {
	margin: 50px;
}

.controller {
}

.controller form {
	margin: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}