body {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    position: relative;
}

table {
    border: 5px solid black;
    border-collapse: collapse;
}

.game-field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 120px;
}

.infoBase, .infoWin {
    text-align: center;
    font-size: 64px;
    border: 2px solid black;
    border-width: 0 5px 5px 5px;
}

td {
    border: 2px solid gray;

    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.baseCell {
    background-color: white;
}

.baseCell:hover {
    background-color: #e2e2e2; 
}

.closedCell {
    background-color: #d1d1d1;
}

.winCell {
    background-color: greenyellow;
}