* {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    width: 100%;
}

govno {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;

    position: absolute;
    top: 0;

    overflow: hidden;
}

.govno-content {
    background: #000C url("src/Stone.png");
    background-blend-mode: multiply;
    width: 100%;
    max-width: 100%;
}

.govno-header {
    position: fixed;
    top: 0;

    height: 64px;
    width: 100%;

    background: url("src/Grass.png");

    box-shadow: 0 0 16px 8px #000C;

    display: flex;
    align-items: left;
}

.govno-text, a {
    text-decoration: none;

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    white-space: pre;

    padding: 0.5em 0 0 0.5em;
    font-size: 32px;
    color: burlywood;
}

.govno-text-shadow {
    text-shadow: 0 0 5px black;
}

@keyframes lava-animation {/*
    0% { box-shadow: 0 0 32px 16px rgba(255, 94, 0, 1); }
    50% { box-shadow: 0 0 32px 8px rgba(255, 51, 0, 1); }
    100% { box-shadow: 0 0 32px 16px rgba(255, 94, 0, 1); }
    */

    0% { filter: blur(8px); }
    50% { filter: blur(4px); }
    100% { filter: blur(8px); }
}

.govno-footer, .govno-footer::after, .govno-footer::before {
    position: fixed;
    top: 0;

    height: 64px;
    width: 100%;
}

.govno-footer {
    top: calc(100vh - 128px);
}

.govno-footer::after {
    content: "";

    position: fixed;

    background: url("src/Lava.gif");
    background-size: 64px 64px;

    top: calc(100vh - 64px);
}

.govno-footer::before {
    content: "";

    position: absolute;

    background: url("src/Lava.gif");
    background-size: 64px 64px;

    height: 24px;
    width: calc(100% + 64px);
    left: -32px;
    top: 52px;

    animation-name: lava-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.govno-footer .govno-text {
    font-size: 14px;
}

.govno-go-home {
    color: gold;
    text-shadow:    0 0 10px darkmagenta,
                    0 0 15px darkmagenta,
                    0 0 20px darkmagenta;
}

.govno-go-home:hover {
    font-size: 34px;
    padding-top: calc(0.5em - 2px);
    padding-left: calc(0.5em - 2px);
}